/* Navigation Bar */
.navbar {
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
}

.content-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #08844C;
    gap:23px;
}

.logoluwu {
    width: 65px;
    height: 80px;
}

.content-navbar p {
    margin-top: 15px;
    font-size: 25px;
    font-weight: bold;
    line-height: 30px;   
}
/* Navigation Bar End */
.section-one {
    background-image: url('assets/image/Desktop\ -\ 1.svg');
    height: 720px;
    background-repeat: no-repeat;
    /* width: 100%; */
    background-size: cover;
}

/* Section One */
#hero{
    margin-top: 130px;
}

#hero .title {
    color: #FFF;
    font-family: Poppins, sans-serif;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0.6px;
}

.content-one {
    margin-top: 208px;
    margin-bottom: 208px;
    
}

.content-one .title {
    /* margin-bottom: 13px; */
    font-size: 40px;
}

.content-one .ket {
    color: #FEEF00;
    text-transform: capitalize;
    font-size: 60px;
    font-weight: 900;
    font-family: Poppins, sans-serif;
    text-shadow: -1px -1px 0 #08844C, 1px -1px 0 #08844C, -1px 1px 0 #08844C, 1px 1px 0 #08844C;
    letter-spacing: 1.5px;

}

.content-one .sub-title {
    margin-top: 11px;
    margin-bottom: 30px;
    color: #FFF;
    font-size: 21px;
    font-family: Poppins, sans-serif;
    font-weight: lighter;  
}

#hero button {
    color: #00923F;
    font-size: 16px;
    font-weight: 600;
    background-color: #FEEF00;
    height: 46px;
    width: 202px;
    border: none;
    border-radius: 10px;
}
/* Section One End */

/* Section Two */
#aplikasi {    
    margin-top: 167px;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
}

.apk {
    color: #08844C;
    font-size: 36px;
    font-family: Poppins, sans-serif;
    font-weight: 500;
}

.aplikasi img {
    margin-bottom: 370px;
}

.card .title {
    color: #000;
    font-size: 24px;
    font-weight: bold;
    font-family: Inter, sans-serif;
}

.box {
    height: 250px;
    width: 245px;
    background-color: #7D7987;
    margin-bottom: 100px;
}

section {
    margin-bottom: 2vh;
}

.card {
    animation-name: slide-up;
    background-color: #D7FBE8;    
    height: 354px;    
    position: relative;
}

.card .title {
    font-size: 16px;
    text-align: center;
    font-weight: 500px;
    font-family: Poppins, sans-serif;
    margin-top: 18px;
}

.keterangan {
    text-align: center;
    font-size: 16px;
    font-weight: 200;
    font-family: Mulish, sans-serif;
    color: #7D7987;
    letter-spacing: 0.5px;    
}

.card button {
    background-color: #08844C;
    color: #FFF;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    height: 52px;
    width: 195px;    
    margin-top: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card button a {
    color: #FFF;
    text-decoration: none;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Section Two End */

/* Footer */
#footer {
    background-color: #08844C;
    color: #FFF;
    margin-bottom: -10px;
    bottom: 0;
}

.footer-logo {
    margin-top: 52px;
}

.footer-ket {
    margin-top: 52px;
}

.footer-ket .title {
    font-size: 18px;
    font-weight: bold;
    font-family: Poppins, sans-serif;
    color: #FEEF00;    
    margin-top: 15px;
    margin-bottom: 16px;
}

.footer-ket .ket {
    font-size: 18px;
    font-weight: 200;
    font-style: Mulish, sans-serif;
    width: 60%;
}

.container .title {
    font-size: 18px;
    font-family: Mulish, sans-serif;
}

.icon {
    margin-top: 65px;
}

.icon .title {
    color: #FEEF00;
    position: absolute;    
}

.icons {
    /* margin-top: 54px; */
}

.copyright .title {
    font-size: 16px;
    font-weight: 100;
    font-family: Poppins, sans-serif;
    color: #FFF;   
}

.sosmed {
    display: flex;
    gap: 12px;    
    margin-bottom: -13px;
}

.sosmed p {
    margin-top: 15px;
}

.mobile {
    display: none;
}



@media (max-width: 767px) {
/* Navigation Bar */
    .navbar {
        height: 120px;        
        background-color: #FFF;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    
    .content-navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #08844C;
        gap: 12px;
    }
    
    .logoluwu {
        width: 45px;
        height: 60px;
    }

    .line {
        height: 60px;
    }
    
    .content-navbar p {
        margin-top: 25px;
        font-size: 16px;
        font-weight: bold;
        line-height: 20px;  
        
    }
/* Navigation Bar End     */
    #hero {
        margin-top: 120px;
    }

    #hero .title {
        color: #FFF;
        font-family: Poppins, sans-serif;
        font-size: 21px;
        font-weight: 600;
        letter-spacing: 0.6px;
    }
    
    .content-one {
        margin-top: 208px;
        margin-bottom: 208px;
        
    }
    
    .content-one .title {
        /* margin-bottom: 13px; */
        font-size: 40px;
    }
    
    .content-one .ket {
        color: #FEEF00;
        text-transform: capitalize;
        font-size: 38px;
        font-weight: 900;
        font-family: Poppins, sans-serif;
        text-shadow: -1px -1px 0 #08844C, 1px -1px 0 #08844C, -1px 1px 0 #08844C, 1px 1px 0 #08844C;
        letter-spacing: 1px;
    
    }
    
    .content-one .sub-title {
        margin-top: 4px;
        margin-bottom: 30px;
        color: #FFF;
        font-size: 15px;
        font-family: Poppins, sans-serif;
        font-weight: lighter;  
    }
    
    #hero button {
        color: #00923F;
        font-size: 12px;
        font-weight: 600;
        background-color: #FEEF00;
        height: 36px;
        width: 180px;
        border: none;
        border-radius: 10px;
    }
/* Section One End */

/* Section Two */
    #aplikasi {    
        margin-top: 50px;
        /* background-repeat: no-repeat; */
        width: 100%;        
    }

    .apk {
        color: #08844C;
        font-size: 29px;
        font-family: Poppins, sans-serif;
        font-weight: 500;        
        position: relative;
    }

    .aplikasi img {        
        position: absolute;        
    }

    .card .title {
        color: #000;
        font-size: 24px;
        font-weight: bold;
        font-family: Inter, sans-serif;
    }

    .box {
        height: 250px;
        width: 245px;
        background-color: #7D7987;
        margin-bottom: 100px;
    }

    section {
        margin-bottom: 2vh;
    }

    .card {
        animation-name: slide-up;
        background-color: #D7FBE8;    
        height: 354px;    
        position: relative;
    }

    .card .title {
        font-size: 16px;
        text-align: center;
        font-weight: 500px;
        font-family: Poppins, sans-serif;
        margin-top: 18px;
    }

    .keterangan {
        text-align: center;
        font-size: 16px;
        font-weight: 200;
        font-family: Mulish, sans-serif;
        color: #7D7987;
        letter-spacing: 0.5px;    
    }

    .card button {
        background-color: #08844C;
        color: #FFF;
        font-size: 16px;
        border: none;
        border-radius: 10px;
        height: 52px;
        width: 195px;    
        margin-top: 30px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card button a {
        color: #FFF;
        text-decoration: none;
    }

    .btn {
        display: flex;
        justify-content: center;
        align-items: center;
    }
/* Section Two End */

/* Footer */
    #footer {
        background-color: #08844C;
        color: #FFF;
        margin-bottom: -10px;
        bottom: 0;
    }

    .footer-logo {
        margin-top: 52px;
    }

    .footer-ket {
        margin-top: 52px;
    }

    .footer-ket .title {
        font-size: 18px;
        font-weight: bold;
        font-family: Poppins, sans-serif;
        color: #FEEF00;    
        margin-top: 15px;
        margin-bottom: 16px;
    }

    .footer-ket .ket {
        font-size: 18px;
        font-weight: 200;
        font-style: Mulish, sans-serif;
        width: 60%;
    }

    .container .title {
        font-size: 18px;
        font-family: Mulish, sans-serif;
    }

    .icon {
        margin-top: 65px;
    }

    .icon .d-flex img {
        width: 24px;
        
    }

    .icon .title {
        color: #FEEF00;
    }

    .copyright .title {
        font-size: 16px;
        font-weight: 100;
        font-family: Poppins, sans-serif;
        color: #FFF;   
    }

    .sosmed {
        display: flex;
        gap: 12px;
    }

    .sosmed p {
        margin-top: 15px;
    }

    .mobile {
        display: none;
    }
}
/* Footer End */